@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-Boldonse:'Boldonse', 'system-ui'
}

@theme {
  --font-inter:'Josefin Sans', 'sans-serif'
}