@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-Boldonse:'Boldonse', 'system-ui'
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-inter:'Josefin Sans', 'sans-serif'
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}