@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Josefin+Sans:ital,wght@0,700;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Strait&display=swap');
@import 'tailwindcss';
@plugin 'lightswind/plugin';
@theme {
  --font-Boldonse:'Boldonse', 'system-ui'
}

@theme {
  --font-Josefin-Sans:'Josefin Sans', 'sans-serif'
}

@theme {
  --font-Montserrat:'Montserrat', 'sans-serif'
}

@theme {
  --font-Strait:'Strait', 'sans-serif'
}